/* .card-title {
position: absolute;
top: 185px;
left: 780px;
height: 24px;
width: 89px;
font-family: 'Roboto';
font-size: 16px;
font-weight: bold;
color: rgba(0, 0, 0, 0.85);
text-align: left;
line-height: 24px;
}

.card {
position: absolute;
top: 168px;
left: 756px;
height: 252px;
width: 220px;
background-color: rgba(255, 255, 255, 1);
border-radius: 2px;
}

.card-content {
position: absolute;
top: 379px;
left: 917px;
height: 20px;
width: 25px;
font-family: 'SF UI Text';
font-size: 12px;
color: rgba(250, 84, 28, 1);
text-align: left;
line-height: 20px;
} */
